.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
/Med/Community Ecology/Data & Results
/Med/Israel Climtology
/Med/MHW_Events_Isr_Med_allpoints.RDS
/Red Sea/Eilat climetology
/Red Sea/May surveys data
/Red Sea/MHWs_def
/Red Sea/Renanel All data
/Red Sea/Results
/Red Sea/Shahar BRUVs
/Red Sea/Taltul data
/Red Sea/TBR data

